body{
    margin: 5% auto;
    margin-left: 5%;
}
.A4-2{
    background-image: url("images/background.png");
}
h1 {
    font-size: 36px;
    text-align:left;
}
h2{
    text-align: center;
    margin-right: 10%;
    margin-top: 5%;
}
hr {
    margin-right:10%;
    position: relative;
    border: none;
    overflow: visible;
    text-align: center;
    height: 5px;
    background: linear-gradient(90deg, #BE5F9F 0%, #763782 100%);
}
.A4-2 .flex-container {
    position: relative;
    margin-top: 5%;
    display: flex;
  } 
.A4-2 .flex-item {
    flex: 2;
}
.A4-2 .flex-item.item-3{
margin-left: 20px;
}
.A4-2 .flex-item.item-1{
    margin-right: 20px;
}
.A4-2 .flex-item.item-1 .heading{
    font-size: 24px;
    font-weight: bold;
}
.A4-2 .flex-item.item-3 .heading{
    font-size: 24px;
    font-weight: bold;
}

.A4-3{
    background-image: url("images/background.png");
    page-break-before: always;
}
.A4-3 .flex-container {
    position: relative;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
.A4-3 .flex-item {
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.A4-3 .flex-container .flex-item .name{
    font-style: italic;
    color: #763782;
}
.A4-3 .flex-container .flex-item .image{
  margin-top: 5%;
  margin-inline-start: 40%;
}
.A4-3 .item-8{
    margin-top: 5%;
}
