body{
    margin: 0;
  padding: 0;
}
.A4-2{
    /* margin-top: 5%; */
    margin-left: 2%;
    margin-right: 2%;
    background-image: url("images/background.png");
}
.A4-2-content{
    /* margin-top: 3%;  */
   margin-left: 3%;
   margin-right: 3%;
}
h1 {
    margin-top: 0px; margin-bottom: 0px;
    font-size: 36px;
    text-align:left;
}
h2{
    text-align: center;
    margin-right: 10%;
    /* margin-top: 5%; */
}
hr {
    display:block;
    margin-right:10%;
    position: relative;
    border: none;
    overflow: visible;
    text-align: center;
    height: 5px;
    background: linear-gradient(90deg, #BE5F9F 0%, #763782 100%);
}
.A4-2 .flex-container {
    position: relative;
    display: flex;
  } 
.A4-2 .flex-item {
    flex: 1;
}
.A4-2 .flex-item.item-3{
margin-left: 20px;
}
.A4-2 .flex-item.item-1{
    margin-right: 20px;
}
.A4-2 .flex-item.item-1 .heading{
    font-size: 24px;
    font-weight: bold;
}
.A4-2 .flex-item.item-3 .heading{
    font-size: 24px;
    font-weight: bold;
}

.A4-3{
    background-image: url("images/background.png");
    page-break-before: always;
}
.A4-3 .flex-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
     flex-direction: column; 
  }  
  .A4-3-content{
    /* margin-top: 3%;  */
   margin-left: 3%;
   margin-right: 3%;
}
.A4-3 .flex-item {
    flex: 2;
}

.A4-3 .flex-container .flex-item .name{
    font-style: italic;
    color: #763782;
}
.A4-3 .flex-container .flex-item .image{
  /* margin-top: 5%; */
  margin-inline-start: 40%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/* .A4 {
    width: 210mm;
    height: 297mm;
    background-image: url("images/background3.png");
    background-repeat: no-repeat;
    background-size: cover;
} */

 .A4-4{
     background-image: url("images/background3.png");
     
    /* Height and width for landscape */
    height: 209.5mm;
    /* width: 297mm; */
    
   /* height and width for A4 */
    /* width: 210mm;  */
   /* height: 296mm; */
    /*  */
    
    margin:0;
    background-size:cover;
    background-repeat: no-repeat;
    page-break-before: always; 
    page-break-after: always; 
    /* page-break-inside:avoid; */
}
.A4-4-content{
     /* margin-top: 3%;  */
    margin-left: 3%;
    margin-right: 3%;
}
.A4-4 .h1 {
    font-size: 36px;
    text-align:left;
    color: #efe7d8;
}
.A4-4 .flex {
    position: relative;
    /* margin-top: 5%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.A4-4 .flex-container {
    position: relative;
    display: flex;
    align-items: center;
    /* margin-right: 5%; */
}
.A4-4 .item-1{
    flex: 1;
}
.A4-4  .item-2{
    flex:8;
}
.A4-4  .heading{
    font-size: 20px;
    margin-left: 5% ;
    margin-right: 10%;
    color: #F1F2F2;
} 
.A4-4  .item-2 .numerical{
    color: #F1F2F2;
    font-size: 30px;  
} 
.A4-4  .item-2 .title-1{
    margin-left: 2%;
    font-size: 20px;
    color: #e74043;
}
.A4-4 .item-2 .title-2{
    margin-left: 2%;
    font-size: 20px;
    color: #7EC460;
}
.A4-4  .item-2 .title-3{
    margin-left: 2%;
    font-size: 20px;
    color: #EB78AF;
}
.A4-4 .item-2 .title-4{
    margin-left: 2%;
    font-size: 20px;
    color: #748ABE;
}
.A4-4 .item-2 .title-5{
    margin-left: 2%;
    font-size: 20px;
    color: #F6AE2A;
}
.A4-4 .item-2 .content{
     color:#F1F2F2 

}

/* Starting CSS A4-5 */

.A4-5{
    background-image: url("images/background3.png");

    /* Height and width for landscape */
    height: 209.5mm;
    /* width: 297mm; */

   /* height and width for A4 */
    /* width: 210mm;  */
   /* height: 296mm; */
    /*  */
   margin:0;
   background-size:cover;
   background-repeat: no-repeat;
   page-break-before: always; 
   page-break-after: always; 
   /* page-break-inside:avoid; */
}
.A4-5-content{
    /* margin-top: 3%;  */
   margin-left: 3%;
   margin-right: 3%;
}
.A4-5-content .h1{
    font-size: 36px;
    text-align:left;
    color: #F1E0C4;
}
.A4-5-content .heading{
    font-size: 20px;
    margin-top: 2%;
    margin-left: 2% ;
    margin-right: 2%;
    color: #F1F2F2;
}
.A4-5-content .flex-container {
    position: relative;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
  }
.A4-5-content .flex-item {
    flex: 1;
    flex-wrap: wrap;
}
.A4-5-content .flex-item .item-1{
    margin-right: auto;
}

.A4-5-content .flex-item .item-2{
    margin-right: 10%;
}

.A4-5-content .flex {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.A4-5-content .child-1{
    flex: 1;
}

.A4-5-content .chlid-2{
    flex:8;
}

.A4-5-content .child-1 .content{
    color:#F1F2F2

}

.A4-5-content .child-1 .title-1{
    text-align: center;
    font-size: 20px;
    color: #F48385;
}
.A4-5-content .child-1 .title-2{
    color: #acefef;
    text-align: center;
    font-size: 20px;
} 

.A4-5-content .child-1 .title-3{
    font-size: 20px;
    color: #7EC460;
    text-align: center;
}

.A4-5-content .child-1 .title-4{
    font-size: 20px;
    color: #EB78AF;
    text-align: center;
}
.A4-5-content .child-1 .title-5{
    font-size: 20px;
    color: #748ABE;
}

.A4-5-content .child-1 .title-6{
    margin-left: 2%;
    font-size: 20px;
    color: #F6AE2A;
}

